@tailwind base;
@tailwind components;
@tailwind utilities;

.ww {
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #444;
    @apply mx-auto max-w-2xl px-4;
}
